---
- name: Ensure required packages present (Debian family)
  apt:
    name: ['curl','ca-certificates','conntrack']
    state: present
    update_cache: yes
  when: ansible_os_family == 'Debian'

- name: Install k3s agent (join cluster)
  shell: |
    set -eu
    curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION={{ k3s_version }} \
      K3S_URL="https://{{ k3s_server_ip }}:6443" \
      K3S_TOKEN="{{ k3s_token }}" sh -
  args:
    creates: /usr/local/bin/k3s
