---
# k3s config
k3s_version: "v1.27.6+k3s1"
k3s_token: "changeme"
k3s_server_ip: "{{ hostvars[groups['k3s_masters'][0]].ansible_host }}"
k3s_install_options: "--disable traefik --disable servicelb"
k3s_use_systemd_unit: false
k3s_extra_args: ""
kube_apiserver_enabled: true
k3s_api_server: "https://192.168.1.115:6443"
helm_binary_path: /usr/local/bin/helm
taint_control_plane: true

# storage
storage_provider: longhorn
storage_class_name: longhorn

# apps
apps:
  - name: metallb
    chart: metallb/metallb
    repo_url: https://metallb.github.io/metallb
    chart_version: "0.13.12"
    namespace: metallb-system
    values_file: metallb.yaml
    enabled: true

  - name: traefik
    chart: traefik/traefik
    repo_url: https://helm.traefik.io/traefik
    chart_version: "24.0.0"
    namespace: traefik
    values_file: traefik.yaml
    enabled: true

  - name: longhorn
    chart: longhorn/longhorn
    repo_url: https://charts.longhorn.io
    chart_version: "1.5.0"
    namespace: longhorn-system
    values_file: longhorn.yaml
    enabled: "{{ storage_provider == 'longhorn' }}"

  - name: prometheus
    chart: prometheus-community/kube-prometheus-stack
    repo_url: https://prometheus-community.github.io/helm-charts
    chart_version: "55.0.0"
    namespace: monitoring
    values_file: prometheus.yaml
    enabled: true

  - name: grafana
    chart: grafana/grafana
    repo_url: https://grafana.github.io/helm-charts
    chart_version: "8.5.0"
    namespace: monitoring
    values_file: grafana.yaml
    enabled: true

  - name: cert-manager
    chart: jetstack/cert-manager
    repo_url: https://charts.jetstack.io
    chart_version: "v1.19.1"
    namespace: cert-manager
    values_file: cert-manager.yaml
    enabled: true

  - name: rancher
    chart: rancher-stable/rancher
    repo_url: https://releases.rancher.com/server-charts/stable
    chart_version: "2.8.5"
    namespace: cattle-system
    values_file: rancher.yaml
    enabled: true
